a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp4855a03{ color:#FFFFFF; text-decoration: underline} 
		a.wsp4855a03:visited{ color:#FFFFFF; text-decoration: underline} 
		a.wsp4855a03:active{ color:#FFFFFF; text-decoration: none} 
		a.wsp4855a03:hover{ color:#FFFFFF; text-decoration: underline} 
#menu_26be2b a { text-decoration: none; }
#menu_26be2b_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 50px; padding-bottom: 50px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_26be2b_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_26be2b_entry { padding-left: 50px; padding-right: 50px; padding-top: 3px; padding-bottom: 3px; }
#menu_26be2b_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_26be2b_entry:hover span { color:#FFFFFF !important; }
		.menu_26be2b_mainMenuEntry { text-align: center; }
		.menu_26be2b_mainMenuEntry:hover {	background-color:#B2B2B2; }
		.menu_26be2b_mainMenuEntry:hover span {	color:#000000 !important; }
		#menu_26be2b .mobileEntry { display: none; } 
		#menu_26be2b .normalEntry { display: block; } 
		#menu_26be2b_menualignmentwrapper{ width:496px; left: calc(50% - 248px);  } 
		@media only screen and (max-width:550px) { 
			#menu_26be2b .mobileEntry { display: block; } 
			#menu_26be2b .normalEntry { display: none; } 
			#menu_26be2b_menualignmentwrapper { width:122px; left: calc(50% - 61px);  } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_8538c1f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1024px; background:none;  }
#container_8538c1f_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#menu_26be2b { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background:none;  }
#menu_26be2b_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:122px; height:38px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:42px;  }
.textstyle3 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#6F6F6F;  white-space: nowrap; }
.menustyle2 { position:absolute; width:150px; height:38px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle4 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#6F6F6F;  white-space: nowrap; }
.menustyle3 { position:absolute; width:158px; height:38px; left:150px;  }
.menustyle4 { position:absolute; width:188px; height:38px; left:308px;  }
.textstyle5 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#787878;  white-space: nowrap; }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#container_67c5a5c8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF; background-image: url(rc_images/noble_n.png); background-position:center center; background-repeat:no-repeat;  }
#container_67c5a5c8_padding { margin: 40px 10px 10px 10px;display: block;  }
.textstyle7 { font-size:36pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#6F6F6F; font-weight:bold;  }
.textstyle8 { font-size:20pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#6F6F6F; font-style:italic; font-weight:bold;  }
#anchor_14714d46 { vertical-align: bottom; position:relative; display: inline-block;  }
#carousel_4915d68c { overflow:hidden; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:362px; background:none;  }
#carousel_4915d68c_page1 { position:absolute; left:0px; top:0px; width:100%; height:100%; background:none;  }
.textstyle9 { font-size:20pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  }
#carousel_4915d68c_page2 { position:absolute; left:0px; top:0px; width:100%; height:100%; background:none;  }
.textstyle10 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
#container_2aae4aae { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_2aae4aae_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:32pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#6F6F6F;  }
.textstyle12 { font-size:16pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#6F6F6F; font-style:italic;  }
#container_27dba1b5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#EBEBEB;  }
#container_27dba1b5_padding { margin: 10px; display: block;  }
#anchor_5e45c283 { vertical-align: bottom; position:relative; display: inline-block;  }
#img_6ceffa98 { vertical-align: bottom; position:relative; display: inline-block; float:right; margin:20px; width:68%; background:none; height:auto;  }
#container_571c3245 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_571c3245_padding { margin: 10px; display: block;  }
#container_1ff96705 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:100px; background-color:#7A7A7A;  }
#container_1ff96705_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold; line-height: 1.5;  }
.textstyle14 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; line-height: 1.5;  }
